{{#imports}}
import {{.}} from '../models/{{.}}'
{{/imports}}
import request from '{{{requestPath}}}'

{{#description}}
/**
 * @description {{description}}
 */
{{/description}}
export default class {{name}} {
  {{#requests}}
  {{#description}}
  /**
   * @description {{description}}
   */
  {{/description}}
  public static {{name}} = async (
    {{#parameters}}
    {{#description}}
    /**
     * @description {{description}}
     */
    {{/description}}
    {{name}}: {{&type}}{{#isOption}} | undefined{{/isOption}},
    {{/parameters}}
    /**
     * @description signal from abortcontroller is helpful when you want abort a request
     */
    signal?: AbortSignal
  ): {{#responseType}}Promise<{{{responseType}}}>{{/responseType}} => {
    const res = await request{{#responseType}}<{{{responseType}}}>{{/responseType}}({
      url: `{{&url}}`,
      method: '{{method}}',
      {{#body}}
      body: {{name}},
      {{/body}}
      query: {
      {{#query}}
        {{name}},
      {{/query}}
      },
      formData: {
      {{#formData}}
        {{name}},
      {{/formData}}
      },
      signal,
    }) 
    return res
  }
  {{/requests}}
}
