
/**
 * * notice this file create by nemo
 * * like it! Give me a star 🌟 https://github.com/pregalaxyer/nemo
 */
{{#exports}}
export { {{#isDefault}}default as {{/isDefault}}{{filename}} } from '{{{filepath}}}'
{{/exports}}
