/**
 * * notice this file create by nemo
 * * like it! Give me a star 🌟 https://github.com/pregalaxyer/nemo
 */
{{#imports}}
import {{.}} from './{{.}}'
{{/imports}}
/**
 * @description {{description}}
 */
export default interface {{name}} {
  {{#types}}
  {{#description}}
  /**
   * @description {{description}}
   */
  {{/description}}
  '{{name}}'{{#isOption}}?{{/isOption}}: {{&type}}
  {{/types}}
}
