/**
 * * notice this file create by nemo
 * * like it! Give me a star 🌟 https://github.com/pregalaxyer/nemo
 */
{{#imports}}
import { {{.}} } from './{{.}}'
{{/imports}}
/**
 * @description {{description}}
 */
{{#useType}}
export type {{name}} = {{#types}}{{&type}}{{/types}}
{{/useType}}
{{^useType}}
export interface {{name}}{{#extends}} extends {{extends}}{{/extends}} {
  {{#types}}
  {{#description}}
  /**
   * @description {{description}}
   */
  {{/description}}
  {{name}}{{#isOption}}?{{/isOption}}: {{&type}}
  {{/types}}
}
{{/useType}}

