import { Options } from './index.d'
import qs from 'qs'

/**
 * @description default request
 * *  cookies always set in request headers when http reponse headers has set-cookie 
 */
export async function request<T>(url, options: RequestInit): Promise<T>{
  const res: T = await fetch(
    getUrl(url, options.query), 
    {
      method: options.method || 'GET',
      body: getRequestBody(options),
      headers: getHeaders(options),
      signal: options.signal
    }
  ).then(res => res.json())
  return res
}

export function getUrl(url: string, query: Options['query']) {
  return query ? url + '?' + qs.stringify(query) : url
}

export function isString(value: any): value is String {
  return typeof value === 'string'
}

export function isBlob(value: any): value is Blob {
  return value instanceof Blob
}

export function getHeaders(options:Options ): Headers {
  const headers = new Headers({
    Accept: 'application/json',
    ...options.headers
  })
  if (options.body) {
    if (isBlob(options.body)) {
      headers.append('Content-Type', 'application/octet-stream')
    } else if (isString(options.body)) {
      headers.append('Content-Type', 'text/plain')
    } else {
      headers.append('Content-Type', 'application/json')
    }
  }
  return headers
}

export function getFormData(data: Record<string, any>): FormData {
  let formData = new FormData()
  Object.keys(data).forEach(key => {
    formData.append(key, data[key])
  })
  return formData
}


export function getRequestBody(options: Options): BodyInit | undefined {
  if (options.body) {
    return isBlob(options.body) || isBlob(options.body) ? options.body : JSON.stringify(options.body)
  }
  if (options.formData) {
    return getFormData(options.formData)
  }
  return undefined
}


export default request