{{#imports}}
import {{.}} from '../models/{{.}}'
{{/imports}}
import request from '{{requestPath}}'

{{#description}}
/**
 * @description {{description}}
 */
{{/description}}
export default class {{name}} {
  {{#requests}}
  {{#description}}
  /**
   * @description {{description}}
   */
  {{/description}}
  public static {{name}} = async (
    {{#parameters}}
    {{name}}: {{&type}}{{#isOption}} | undefined{{/isOption}},
    {{/parameters}}
    signal: AbortSignal
  ) => {
    const res = await request({
      url: `{{&url}}`,
      method: '{{method}}',
      {{#body}}
      body,
      {{/body}}
      query: {
      {{#query}}
        {{name}},
      {{/query}}
      },
      formData: {
      {{#formData}}
        {{name}},
      {{/formData}}
      },
      signal,
    }) 
    return res
  }
  {{/requests}}
}
