{{#imports}}
import {{.}} from '../models/{{.}}'
{{/imports}}
import request from {{requestPath}}

{{#description}}
/**
 * @description {{description}}
 */
{{/description}}
export default {{name}} {
  {{#requests}}
  {{#description}}
  /**
   * @description {{description}}
   */
  {{/description}}
  public static async {{name}}({{#parameters}}
    {{name}}{{#isOption}}?{{/isOption}}: {{&type}}
  {{/parameters}} signal: AbortSignal ) {
    const res = await request({
      url: `{{url}}`,
      method: {{method}},
      {{#body}}
      body: {{
        {{name}}{{#isOption}}?{{/isOption}}: {{&type}}
      }},
      {{/body}}
      {{#query}}
      query: {{
        {{name}}{{#isOption}}?{{/isOption}}: {{&type}}
      }},
      {{/query}}
      {{#formData}}
      formData: {{
        {{name}}{{#isOption}}?{{/isOption}}: {{&type}}
      }},
      {{/formData}}
      signal,
    }) 
    return res
  }
  {{/requests}}
}
