{{#imports}}
import {{.}} from '../models/{{.}}'
{{/imports}}
import request from '{{requestPath}}'

{{#description}}
/**
 * @description {{description}}
 */
{{/description}}
export Class {{name}} {
  {{#requests}}
  {{#description}}
  /**
   * @description {{description}}
   */
  {{/description}}
  public static async function {{name}}(
    {{#parameters}}
    {{name}}{{#isOption}}?{{/isOption}}: {{&type}},
    {{/parameters}}
    signal: AbortSignal
  ) {
    const res = await request({
      url: `{{&url}}`,
      method: '{{method}}',
      {{#body}}
      body,
      {{/body}}
      query: {
      {{#query}}
        {{name}},
      {{/query}}
      },
      formData: {
      {{#formData}}
        {{name}},
      {{/formData}}
      },
      
      signal,
    }) 
    return res
  }
  {{/requests}}
}
